html,body{
	height: 100%;
}
.fondo{
	background-image: url(../img/mobile-1209058.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.logo{
	width: 40%;
    margin-top: 10%;
}
.btn-inicio{
	position: fixed;
	z-index: 2;
    bottom: 10%;
    right:0;
	left: 0;
	transform: translateY(0);
	margin: 0 auto;
}
.btn-inicio a{
	color: #fff;
}
