#map{
	min-height: 500px;
}
#origin-input,
#destination-input {
	background-color: #fff;
	padding-left: 2%;
}
/*botonera propina*/
.btn{
	padding: 0 1.5rem;
}
/*Boton*/
.next{
	width: 250px;
}
.boton{
	position: fixed;
	bottom: 0;
	right:0;
	left: 0;
	transform: translateY(0);
	margin: 0 auto;
}

/*payment css*/
.hidden{
	display: none;
}
.bord-card{
	border:1px solid #e0e0e0;
}
.color{
	
}