.icono{
	line-height: 100px;
    font-size: 50px;
}
.titulo{
	line-height: 68px;
	margin-left: 3.14rem;
}
.next{
	width: 250px;
}
/*Dropdown*/
.dropdown-content {
    min-width: 200px;
}
/*Boton*/
.boton{
	position: fixed;
	z-index: 2;
    bottom: 0;
    right:0;
	left: 0;
	transform: translateY(0);
	margin: 0 auto;
}
